body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 14px 10px;
}

ul {
    padding:14px
}

li {
    list-style: none;
    display: inline;
}